.button {
    color: var(--font-color);
    border: 2px solid var(--background-color-brighter);
    border-radius: 10px;
    min-width: 100px;
    background-color: #2a3549;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.button:hover
/*,
 .button:focus */
 {
    background-color: var(--background-color-hover);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.button:active {
    background: var(--background-color-active);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}