.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    width: 28px;
    height: 28px;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-arrow {
    display: inline-block;
    padding-bottom: 3px;
    border-top: 5px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #212529;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid var(--font-color);
    border-radius: 0.375rem;
}

.dropdown-icon {
    margin-right: 4px;
}

.dropdown-option {
    color: var(--font-color);
    padding: '4px 8px';
    text-decoration: 'none';
    display: 'block';
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    opacity: 1;
}

.dropdown-option:hover {
    background: var(--background-color-hover);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.dropdown-option:active {
    background: var(--background-color-active);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.dropdown-option-disabled {
    color: #aaa;
    padding: '4px 8px';
    text-decoration: 'none';
    display: 'block';
    background: none;
    border: none;
    cursor: not-allowed;
    width: 100%;
    text-align: left;
    opacity: 0.5;
}