/* src/components/CustomSelect.css */
.custom-select {
    position: relative;
    display: inline-block;
    width: 110px;
}

.select-selected {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: 0px;
    cursor: pointer;
}

.select-items {
    background-color: #212529; 
    min-width: 160px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--font-color);
    color: var(--font-color);
    position: absolute;
    z-index: 9999;
    border-radius: 4px;
}


.select-items div,
.select-selected {
    padding: 1px;
    margin: 0px;
    cursor: pointer;

}

.select-selected:hover {
    color: var(--font-color-hover-brighter);
}

.select-items div:hover {
    background-color: var(--background-color-hover);
    color: var(--hover-font-color);
}